# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build
/dist

# Local SQLite databases & sync logs (exclude generated DBs from git, include template)
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
*.db
*.db-journal
*.db-wal
*.db-shm

# Environment files
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel & IDE
.vercel
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
